.PasswordChangeDp {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 30;
	display: flex;
	align-items: center;
	justify-content: center;
	.pwChangeB {
		width: 40rem;
		height: auto;
		background: #fff;
		border-radius: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 16px;
		.title {
			width: 100%;
			height: auto;
			display: flex;
			align-items: center;
			justify-content: space-between;

			p {
				font-size: 2.4rem;
				font-weight: 600;
			}
			.closeBtn {
				width: 3.6rem;
				height: 3.6rem;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				transition: all 0.1s ease-in-out;
				border-radius: 50%;
				&:hover {
					background: #d9d9d9;
				}
				span {
					width: 2rem;
					height: 2rem;
					background: url("../../../../../public/images/icon/x-solid.svg")
						no-repeat center center / contain;
				}
			}
		}
		.inputBox {
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			input {
				width: 100%;
				height: auto;
				padding: 8px;
				font-size: 1.6rem;
				color: #000;
				margin: 8px 0;
				border: 1px solid #000;
				border-radius: 1rem;
				&::placeholder {
					color: var(--secondary);
				}
			}
			.forgotPass {
				cursor: pointer;
				color: #1b4bf3;
				font-size: 1.2rem;
				font-weight: 700;
				margin: 8px 0;
			}
		}
		.bar {
			width: 100%;
			height: 1px;
			background: #a9a9a9;
		}
		.confirmBtnB {
			width: 100%;
			height: 4rem;
			margin: 16px 0 8px 0;

			.btn {
				width: 100%;
				height: 100%;
				background: var(--primary);
				color: #fff;
				font-size: 1.6rem;
				font-weight: 600;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 1rem;
			}
		}
	}
	.alert {
		color: red;
		font-size: 1.2rem;
		font-weight: 300;
		text-align: center;
	}
}
