.navBar {
	width: auto;
	height: 100dvh;
	position: fixed;
	top: 0;
	left: 0;
	border-right: 1px solid #8a8a8a;
	z-index: 1;
	.wrap {
		padding: 8px 8px 0px;
		width: auto;
		height: calc(100% - 8px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		position: relative;
		.NavTop {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			.logoWrap {
				width: auto;
				height: 50px;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				padding: 25px 8px 16px;
				margin-bottom: 20px;
				.logo {
					width: auto;
					display: flex;
					justify-content: flex-start;
					align-items: center;
					cursor: pointer;
					.logoImg {
						width: 5rem;
						height: 5rem;
						background: url("../../../../public/images/icon/funhub-logo-only.svg")
							no-repeat center center;
						background-size: cover;
					}
					.FunHub {
						font-size: 3.2rem;
						font-weight: 700;
						color: var(--primary);
						margin-left: 5px;
					}
					.hidden {
						display: none;
					}
				}
			}
			.NItemWrap {
				width: auto;
				height: auto;
				padding: 16px 0;
				.navItem {
					padding: 12px 10px;
					margin: 8px 0;
					display: flex;
					align-items: center;
					cursor: pointer;
					&:hover {
						border-radius: 5rem;
						background: linear-gradient(
							90deg,
							#d9d9d9 0%,
							rgba(217, 217, 217, 0) 94.39%
						);
					}
					&:nth-child(1) {
						.icon {
							background: url("../../../../public/images/icon/home.svg")
								no-repeat center center;
							background-size: contain;
						}
					}
					&:nth-child(2) {
						.icon {
							background: url("../../../../public/images/icon/trend.svg")
								no-repeat center center;
							background-size: contain;
						}
					}
					&:nth-child(3) {
						.icon {
							background: url("../../../../public/images/icon/noti.svg")
								no-repeat center center;
							background-size: contain;
						}
					}
					&:nth-child(4) {
						.icon {
							background: url("../../../../public/images/icon/search.svg")
								no-repeat center center;
							background-size: contain;
						}
					}
					&:nth-child(5) {
						.icon {
							background: url("../../../../public/images/icon/profile.svg")
								no-repeat center center;
							background-size: contain;
						}
					}
					&:nth-child(6) {
						.icon {
							background: url("../../../../public/images/icon/add.svg")
								no-repeat center center;
							background-size: contain;
						}
					}
					.icon {
						width: 2.4rem;
						height: 2.4rem;
					}
				}
				.active {
					border-radius: 5rem;
					background: linear-gradient(
						90deg,
						#d9d9d9 0%,
						rgba(217, 217, 217, 0) 94.39%
					);
					.item {
						font-weight: 600;
					}
				}
			}
		}
		.NavBottom {
			height: 6rem;
			width: 100%;
			border-top: 1px solid #d9d9d9;
			.bWrap {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				.userBox {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					cursor: pointer;
					.userImg {
						width: 4rem;
						height: 4rem;
						border-radius: 50%;
						overflow: hidden;
						background-color: #8a8a8a;
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							border-radius: 50%;
						}
					}
					.userName {
						font-size: 1.6rem;
						font-weight: 600;
						color: #8a8a8a;
						margin-left: 1rem;
					}
				}
				.hidden {
					display: none;
				}
				.settingIcon {
					width: 3rem;
					height: 3rem;
					background: url("../../../../public/images/icon/setting.svg")
						no-repeat center center;
					background-size: contain;
					cursor: pointer;
				}
			}
			.center {
				justify-content: center;
			}
		}
	}
}
